<div class="header bg-gradient-info pb-3 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
   
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">งานที่ประกาศ</h3>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> ประกาศ</button>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">ชื่อ - นามสกุล</th>
                    <th scope="col">ตำแหน่ง</th>
                    <th scope="col">การร่วมงาน/ครั้ง</th>
                    <th scope="col">เคยการร่วมงาน/ครั้ง</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      /argon/
                    </th>
                    <td>
                      Java Developer
                    </td>
                    <td>
                      340
                    </td>
                    <td>
                        <i class="fa fa-check-circle-o text-success mr-3"></i> 4
                    </td>
                    <td><button class="btn btn-info btn-sm" type="button"><i class="fa fa-address-card-o"></i> โปรไฟล์</button></td>
                  </tr>
                  <tr>
                    <th scope="row">
                      /argon/index.html
                    </th>
                    <td>
                      Android Developer
                    </td>
                    <td>
                      319
                    </td>
                    <td>
                        <i class="fa fa-check-circle-o text-success mr-3"></i> 5
                    </td>
                    <td><button class="btn btn-info btn-sm" type="button"><i class="fa fa-address-card-o"></i> โปรไฟล์</button></td>
                  </tr>
                  <tr>
                    <th scope="row">
                      /argon/charts.html
                    </th>
                    <td>
                      React Developer
                    </td>
                    <td>
                      294
                    </td>
                    <td>
                      <i class="fa fa-times-circle mr-3"></i>0
                    </td>
                    <td><button class="btn btn-info btn-sm" type="button"><i class="fa fa-address-card-o"></i> โปรไฟล์</button></td>
                  </tr>
                  <tr>
                    <th scope="row">
                      /argon/tables.html
                    </th>
                    <td>
                      Frontend Developer
                    </td>
                    <td>
                      147
                    </td>
                    <td>
                      <i class="fa fa-times-circle mr-3"></i> 0
                    </td>
                    <td><button class="btn btn-info btn-sm" type="button"><i class="fa fa-address-card-o"></i> โปรไฟล์</button></td>
                  </tr>
                  <tr>
                    <th scope="row">
                      /argon/profile.html
                    </th>
                    <td>
                      Angular Developer
                    </td>
                    <td>
                      190
                    </td>
                    <td>
                      <i class="fa fa-check-circle-o text-success mr-3"></i> 1
                    </td>
                    <td><button class="btn btn-info btn-sm" type="button"><i class="fa fa-address-card-o"></i> โปรไฟล์</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>    
      </div>
</div>